
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;600&display=swap');

body{
    font-family: 'Kanit', sans-serif;
    margin: 0%;
    padding-top: 0%;
    padding: 0%;
    font-size: 200%;
    
}

:root{
    --primary-color: #06b6d4;
    --offwhite: #ecfeff;
    --gray : #4b5563;
}
li {
    display: inherit;
    text-align: inherit;
}
a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
/**navigation**/
.nav{
    background-color: var(--primary-color);
    padding: 2rem;
    border-bottom-left-radius: 2rem;
}

.nav h2 {
    margin-top: 0%;
    color: white;
    font-size: 3rem;
    text-align: left;
}

.non-bullet{
    list-style: none;
    color: white;
}

.active-link{
    font-weight: bold;
}

.nav ul li{
    display: inline;
    padding: 2rem;
    padding-left: 0%;
    font-size: 2.2rem;
    
}
.nav ul{
    text-align: right;
}

/**header**/



img.hero {
    text-align: center;
    margin: auto;
    max-width: 700px;
    padding-top: 5rem;
    
}
h1.name{
    color: var(--gray);
    text-align: center;
    padding: 2rem 2rem 5rem 2rem;
    font-size: 3rem;
}
.highlight{
    color: var(--primary-color);
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: inherit;
    margin-block-end: inherit;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.container{
    margin: auto;
    max-width: 800px;
}

html h2{
    text-align: center;
}

/**sections**/
.ow{
    background-color: var(--offwhite);
    padding: 0.5rem 2rem 2.5rem 2rem;
}

.w{
    background-color: white;
    padding: 0.5rem 2rem 2.5rem 2rem;
}
.white{
    padding: 0.5rem 2rem 2.5rem 2rem;
}
.links{
    list-style: none;
    text-decoration: none;
    display: inline;
}

.primary-button{
    color: white;
    background-color: var(--primary-color);
    border-radius: 10px;
    max-width: fit-content;
    font-weight: 250;
    padding:0.2rem 0.5rem 0.2rem 0.5rem;
    margin: 2rem;
}
.secondary-button{
    color: var(--primary-color);
    border-radius: 10px;
    border: var(--primary-color) 1px solid;
    max-width: fit-content;
    font-weight: 250;
    padding:0.2rem 0.5rem 0.2rem 0.5rem;
    margin: 2rem;
}


p.container{
    margin-bottom: 2rem;
}


/**footer**/
footer{
    background-color: var(--primary-color);
    color: white;
    border-top-right-radius: 2rem;
    bottom: 0%;
}
h2#social{
    margin-top: 0%;
    padding-top: 2.5rem;
    margin-bottom: 2rem;
    
}
.footer-content{
    text-align: center;
    padding: 0 1rem 3rem 1rem;
}
.socials-footer{
    padding: 1rem;
}

/**blogs**/





/**projects**/
#seeCode{
    text-align: left;
    padding-left: 4rem;
    color: var(--gray);
}
li {
    display: inherit;
    text-align: inherit;
}


.white-list{
    text-align: center;
}

.inline{
    display: inline;
}